body {
    text-align:center;
    font-weight:bold;
    font-size:20px;
}

nav {
    top:-70px;
    flex-direction: row;
    flex-wrap: wrap;

}

/* Portfolio Container */
.flex-container {
   justify-content: center;
   padding-bottom: 12px;
}

/* Background color */
body {
    background-color:rgb(195, 184, 184);
}

/* project images */


/* Contact info */
h2 {
    text-align:center;
    padding-top:20px;
    margin-top:40px;
}